@charset "utf-8";
/* CSS Document */

/* --
Noodles Inc Draft 2 Stylesheet
Author: Matt Schwabenbauer (@schwabby)
Copyright 2013 Matt Schwabenbauer
--

Table of contents
1 - Structural tags
2 - Reset
3 - Global Styles
4 - Section specific styles
-----------------------------------------------------------------*/


/* 1 - Structural tags
So the HTML5 structural tags work in older browsers------------- */

article, aside, figure, footer, header, nav, section {
    display: block;
}

/*
End structural tags--------------------------------------------- */


/* 2 - CSS Reset
---------------------- html5doctor.com/html-5-reset-stylesheet/ */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

a:-webkit-any-link {
text-decoration: none !important;
cursor: auto;
}

/*
End Reset ------------------------------------------------------ */

/*
FONTS ----------------------------------------------------------*/
@font-face{
  font-family: Kalinga;
  src:url(../fonts/kalinga.ttf);
}


/* 3 - Global styles
----------------------------------------------------------------*/

#page {
	margin: 0 auto;
	width: 100%;
    zoom: 1;
}

body {
		font: normal 100% "Josefin Slab", Calibri, sans-serif;
		text-decoration: none !important;
		text-align: center;
}

/*
End Global Styles ----------------------------------------------*/


/* 4 - Section specific styles
----------------------------------------------------------------*/


/* Begin styles for header
----------------------------------------------------------------*/
.header {
	margin-bottom:0;
	padding-bottom: 2em;
}

/* fade in animation by Alex Gurevich http://graphicfusiondesign.com/blog/design/creating-fancy-css3-fade-in-animations-on-page-load/ */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.left {
	opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;

	width: 50%;
	float: left;
	overflow: hidden;
	margin-bottom: 0;
	margin-left: 0;
}

.left img {
		max-width: 100%;}

.right {
	opacity:0;
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	animation-delay: 1.3s;
	
	padding-top: 8%;
	padding-right: 7%;
	width: 37%;
	float: right;
}

.right img {
	max-width: 100%;
}

/* Begin Styles for nav bar
---------------------------------------------*/

.navbar {
	
		opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	
	-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;

	clear: both;
	background: #07b974;
	margin-bottom: 2em;
}

.nav {

	font-size: .5em;
}

.nav li{
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 4em;
	background: black;
	color: white;
	display: inline;
}
.nav li:hover{
	background: black url(../../../NoodlesInc/chopstickbg.png) no-repeat;
	background-position:center; 
		font-color: #ec10a1 !important;
		color: #ec10a1 !important;
}

#nav-menu {
	-moz-border-radius: 5px 0px 0px 5px; 
	-o-border-radius: 5px 0px 0px 5px; 
	-webkit-border-radius: 5px 0px 0px 5px; 
	border-radius: 5px 0px 0px 5px; 
}

#nav-about {
	-moz-border-radius: 0px 5px 5px 0px; 
	-o-border-radius: 0px 5px 5px 0px; 
	-webkit-border-radius: 0px 5px 5px 0px; 
	border-radius: 0px 5px 5px 0px;
	border-left: 2px solid white;
}
	

.nav #nav-menu a:visited {
	color: white;
	text-decoration: none !important;
}

.nav #nav-menu a {
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-decoration: none !important;
}

.nav #nav-menu a:hover {
	color: #ec10a1 !important;
}

.nav #nav-about a:visited {
	color: white;
	text-decoration: none !important;
}

.nav #nav-about a {

	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-decoration: none !important;
}

.nav #nav-about a:hover {
	color: #ec10a1 !important;

}

.nav #nav-divider a:visited {
	color: white;
	text-decoration: none !important;
}

a {
    text-decoration: none;
}

/* Begin styles for main section
---------------------------------------------*/

.main {
	margin: 0 auto;
	}

.facebook {
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
	
	width: 63%;
	height: 70px;
	background: #ec10a1;
	color: white;
	margin-bottom: 2%;
	padding-top: 1%;
	padding-bottom: 1.5%;
	padding-left: 2.5%;
	margin-left: 1%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 8px 6px -6px black; -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; 									    -o-box-shadow: 0 8px 6px -6px black;
}

.facebook img {
	width: 80px;
	float: left;
}

.fbtext {
	position: absolute;
	height: 80px;
	overflow: hidden;
	width: 50%;
	margin-left: 8%;
	font: normal 100% Kalinga, Calibri, sans-serif;
	text-align: center;
	background: white !important;
	font-size: 1.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 3;
}

.fbtext iframe {
	padding-left: 1%;
	position: relative;
	margin-right: 10%;
	width: 110%;
	bottom: 70px;
	z-index: 0;
}




/* Begin styles for footer
------------------------------------------*/

.footerhead {
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
	
	background: #ec10a1;
	margin-bottom: .8em;
	margin-top: -2em;
	color: white;
	line-height: -5;
}

.footerhead h1 {
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: 2em;
		line-height: -5;
}

.footerhead p {
	font: normal 100% Kalinga, Calibri, sans-serif;
	font-size: 1em;
		line-height: -5;
}
	

.footer {
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
	
	border-top: 2px solid white;
	position:absolute;
	height:auto;
	width: 100%;
	margin-top: -1%;
	background: black;
	color: white;
}

.footer1 {
	background: black;
	float: left;
	width: 20%;
	padding-left: 6.66666666667%;
	padding-right: 6.66666666667%;
}

.footer1 h1 {
	font: normal 100% Kalinga, Calibri, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
}

.footer1 p {
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: .8em;
}

.footer2 {
	background: black;
	float: left;
	width: 20%;
	padding-left: 6.66666666667%;
		border-right: 2px solid white;
		border-left: 2px solid white;
		padding-right: 6.66666666667%;
	height: 128px;
}

.footer2 h1 {
	font: normal 100% Kalinga, Calibri, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
}

.footer2 p {
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: .8em;
}

.footer3 {
	padding-left: 6.66666666667%;
	font-size: .9em;
	font: normal 100% Kalinga, Calibri, sans-serif;
	background: black;
	float: left;
	width: 20%;
}

.footer3 h1 {
	font: normal 100% Kalinga, Calibri, sans-serif;
	font-size: 1.5em;
	font-weight: normal;;
}

.footer3 p {
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: .8em;
}

.footer4 {
		background: #black;
		border-top: 2px solid white;
	clear: both;
}

/*
End section specific styles ------------------------------------*/

/*
FONTS ----------------------------------------------------------*/
@font-face{
  font-family: Kalinga;
  src:url(../fonts/kalinga.ttf);
}