@charset "utf-8";
/* CSS Document */

/* --
Noodles Inc Draft 2 Stylesheet
Author: Matt Schwabenbauer (@schwabby)
Copyright 2013 Matt Schwabenbauer
--

Table of contents
1 - Structural tagsho
2 - Reset
3 - Global Styles
4 - Section specific styles
5 - Media Queries
6 - Fonts
-----------------------------------------------------------------*/


/* 1 - Structural tags
So the HTML5 structural tags work in older browsers------------- */

article, aside, figure, footer, header, nav, section {
    display: block;
}

/*
End structural tags--------------------------------------------- */


/* 2 - CSS Reset
---------------------- html5doctor.com/html-5-reset-stylesheet/ */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

a:-webkit-any-link {
text-decoration: none !important;
cursor: auto;
}

/*
End Reset ------------------------------------------------------ */

/*
FONTS ----------------------------------------------------------*/
@font-face{
  font-family: Kalinga;
  src:url(../fonts/kalinga.ttf);
}


/* 3 - Global styles
----------------------------------------------------------------*/

#page {
	background:url(../images/bg.png) repeat;
	margin: 0 auto;
	width: 100%;
    zoom: 1;
}

body {
		font: normal 100% "Josefin Slab", Calibri, sans-serif;
		text-decoration: none !important;
		text-align: center;
}

li {
		-moz-transition: background 0.3s ease-in;
		-o-transition: background 0.3s ease-in;
		-webkit-transition: background 0.3s ease-in;
		transition: background 0.3s ease-in;
}

a {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

a {
	color: white;
}

a:hover, a:focus {
	color: #ec10a1 !important;
}

a:visited {
	text-decoration: none !important;
}

/*
End Global Styles ----------------------------------------------*/


/* 4 - Section specific styles
----------------------------------------------------------------*/


/* Begin styles for header
----------------------------------------------------------------*/
.header {
	margin-bottom:0;
	padding-bottom: 2em;
	width: 100%;
}

/* fade in animation by Alex Gurevich http://graphicfusiondesign.com/blog/design/creating-fancy-css3-fade-in-animations-on-page-load/ */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-opr-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.left {
	opacity:0;  
	-opr-animation:fadeIn ease-in 1;
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
	-opr-animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
	-opr-animation-duration:1s;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-opr-animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;

	width: 50%;
	float: left !important;
	padding-left: 0;
}

.left img {
	float: left !important;
	padding-left: 0;
	margin-left: 0;
	max-width: 100%;
	}

.right {
	opacity:0;
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	animation-delay: 1.3s;
	
	padding-top: 8%;
	padding-right: 7%;
	width: 37%;
	float: right;
}

.right img {
	max-width: 100%;
}

/* Begin Styles for nav bar
---------------------------------------------*/

.navbar {
	
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;

	clear: both;
	background: #07b974;
	margin-bottom: 2em;
}

.nav {
	font-size: .5em;
}

.nav li{
	display: inline;
}

.nav li a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 4em;
	background: black;
	color: white;
	
}

.nav li a:hover, .nav li a:focus {
	background: black url(../images/chopstickbg.png) no-repeat;
	-moz-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;
	background-position:center;

}

#nav-menu a {
	-moz-border-radius: 5px 0px 0px 5px; 
	-o-border-radius: 5px 0px 0px 5px; 
	-webkit-border-radius: 5px 0px 0px 5px; 
	border-radius: 5px 0px 0px 5px; 
}



#nav-about a {
	-moz-border-radius: 0px 5px 5px 0px; 
	-o-border-radius: 0px 5px 5px 0px; 
	-webkit-border-radius: 0px 5px 5px 0px; 
	border-radius: 0px 5px 5px 0px;
	border-left: 2px solid white;
	margin-left: -2px;
}

#nav-about a:target {
   background: yellow !important;
}

.nav #nav-menu a:visited {
	color: white;
	text-decoration: none !important;
}

.nav #nav-menu a {
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-decoration: none !important;
}

.nav #nav-menu a:hover, .nav #nav-menu a:focus {
	color: #ec10a1 !important;
}

.nav #nav-about a:visited {
	color: white;
	text-decoration: none !important;
}

.nav #nav-about a {
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-decoration: none !important;
}

.nav #nav-about a:hover, .nav #nav-about a:focus {
	color: #ec10a1 !important;

}

.nav #nav-divider a:visited {
	color: white;
	text-decoration: none !important;
}

a {
    text-decoration: none;
}

/* Begin styles for main section
---------------------------------------------*/

.main {
	margin: 0 auto;
	}

.facebook {
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	
	float: left;
	width: 63%;
	height: 93px;
	background: #ec10a1;
	color: white !important;
	margin-bottom: 2%;
	padding-top: 15px;
	padding-left: 18px;
	margin-left: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 8px 6px -6px black; -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; 									    -o-box-shadow: 0 8px 6px -6px black;
}

.facebook img {
	width: 80px;
	float: left;
}

.fbtext {
	position: absolute;
	height: 80px !important;
	overflow: hidden;
	width: 50%;
	margin-left: 100px;
	font: normal 100% Kalinga, Calibri, sans-serif;
	text-align: center;
	background: white !important;
	font-size: 1.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 3;
}

.fbtext iframe {
	padding-left: 1%;
	position: relative;
	margin-right: 10%;
	width: 110%;
	bottom: 70px;
	z-index: 0;
}

.fblike {
	clear: both;
	display: block;
	z-index: 5;
	color: white !important;
	width: 60%;
	float: right;
	padding-top: 10px; 
	font-size: 1em;
}

.fblike a:visited {
	color: white !important;
	text-decoration: none;
}

.fblike a:hover, .fblike a:focus {
	color: #07b974 !important;
}

.date {
	float: left;
	margin-left: 1%;
	max-width: 100%;
		width: 25%;
}

.date img {
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	
	max-width: 100%;

}


/* Begin styles for the menu
------------------------------------------*/

.menu {
		opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	
		margin-bottom: 4em;
}

/*
.leftbranch {
	float: left;
	margin-left: 5%;
	width:30%;
		content: "";
}
*/


.menutitle {
		opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	
	display: block;
	margin: 0 auto;
	width: 100%;
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	color: #ec10a1;
	font-size: 5em;
	font-weight: 100;
	background: url(../images/polka-bg.png) repeat-x -50%;
	margin-bottom: 5px;
}

.menutitle img {
	background: url(../images/bg.png) repeat;
	width: 360px;
	margin: 0 auto;
}

/*
.rightbranch {
	float:left;
	width: 30%;
	margin-right: 5%;
}
*/



.menu h1 {
	font-size: 2em;
}

.menu h2 {
	font-size: 1.5em;
}

.menu h3 {
	font-size: 1em;
}

.menu p {
	text-align: left;
	margin-bottom: 1em;
}

.leftmenu {
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-right: 2.5%;
	
}
.rightmenu {
	float: left;
	width: 42.5%;
	margin-right: 5%;
	margin-left: 2.5%;
}

.menudivider {

		opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	
		clear: both;
	
	display: block;
	margin: 0 auto;
	width: 100%;
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	color: #ec10a1;
	font-size: .5em;
	font-weight: 100;
	background: url(../images/polka-bg.png) repeat-x 50%;
}

.menudivider img {
	background: url(../images/bg.png) repeat;
	width: 68px;
	margin: 0 auto;
}

.leftmenu2 {
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-right: 2.5%;
	
}
.rightmenu2 {
	float: left;
	width: 42.5%;
	margin-right: 5%;
	margin-left: 2.5%;
}



/* Begin styles for footer
------------------------------------------*/

.footerhead {
	clear:both;
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	
/*	background: url(../images/polka-bg.png) repeat-x 50% #ec10a1; */
	background: #ec10a1;
	margin-top: -2em;
	color: white;
	line-height: -5;
}

.footerhead h1 {
	background: #ec10a1;
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: 2em;
	line-height: -5;
	/* width: 30%; */
	margin: 0 auto;
}

.footerhead p {
	font: normal 100% "Lato", Calibri, sans-serif;
	font-size: 1em;
	line-height: -5;
	font-weight: 300;
		background: #ec10a1;
	/*	width: 30%; */
		margin: 0 auto;
}
	

.footer {
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	
	border-top: 2px solid white;
	position:absolute;
	height:auto;
	width: 100%;
	background: black;
}

.footer1 {
	background: black;
	float: left;
	width: 20%;
	padding-left: 6.66666666667%;
	padding-right: 6.66666666667%;
}

.footer1 h1 {
	font-family: "Lato", Calibri, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #cdcdcd;
	white-space: nowrap;
}

.footer1 p {
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: .8em;
	color:  #07b974;
	text-align: left;
}

.footer1 a {
	font-family: "Lato", Calibri, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #ec10a1;
}



.footer1 a:hover, .footer1 a:focus {
	color: #07b974 !important;
}

.footer2 {
	background: black;
	float: left;
	width: 20%;
	padding-left: 6.66666666667%;
	border-right: 2px solid white;
	border-left: 2px solid white;
	padding-right: 6.66666666667%;
	height: 108px;
	line-height: 1.5;
}

.footer2 h1 {
	font-family: "Lato", Calibri, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #cdcdcd;
}

.footer2 p {
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: 1.3em;
	color: #07b974;
	white-space: nowrap;
}

.footer2 a {
	color:  #ec10a1;
	font-size: 1.5em;
	white-space: nowrap;
}

.footer2 a:hover, .footer2 a:focus {
	color: #07b974 !important;
}	

.footer3 {
	text-align: left;
	font-size: .9em;
	background: black;
	float: left;
	width: 20%;
	display: inline;
	white-space:nowrap;
}

.footer3 h1 {
	text-align: center;
	padding-left: 50%;
	font-family: "Lato", Calibri, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #cdcdcd;
}

.footer3 p {
	padding-left: 5%;
	text-align: left;
	font: normal 100% "Lato", Calibri, sans-serif;
	font-size: 1.3em;
	color: #07b974;
	display: inline !important;
	font-weight: 300;
}

.footer3 a {
	text-align: left;
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	text-decoration: none !important;
	color:  #ec10a1;
	font-size: 1em;
	display: inline !important;
}

.footer3 a:visited {
	color: #ec10a1 !important;
	text-decoration: none !important;
}

.footer3 a:hover, .footer3 a:focus {
	color: #07b974 !important;
}

.footer3 a:visited {
	font: normal 100% "Josefin Slab", Calibri, sans-serif;
	font-size: .8em;
	color: white;
	text-decoration: none !important;
}

.footer3 li {
	display: block;
}

.footer4 {
	clear: both;
	font: normal 100% "Lato", Calibri, sans-serif;
	font-size: .8em;
	background: #black;
	border-top: 2px solid white;
	clear: both;
	color:  #cdcdcd;
	font-weight: 300;
	padding-top: 1%;
	padding-bottom: 1%;
}

.footer4 p {
	display: inline;
}

.footer4 a {
	font: normal 100% "Lato", Calibri, sans-serif;
	text-decoration: none !important;
	color:  #07b974;
	font-size: 1em;
	display: inline !important;
}

.footer4:hover {
		-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

.footer4 a:visited {
	color: #07b974 !important;
	text-decoration: none !important;
}

.footer4 a:hover, .footer4 a:focus {
	color:  #ec10a1 !important;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

/*
End section specific styles ------------------------------------*/

/* 5 - Media Queries
----------------------------------------------------------------*/

@media screen and (min-width: 1430px)
{
	.right {
		padding-top: 4%;
	}
}

@media screen and (max-width: 1200px)
{
	.date {
		padding-top: 1%;
	}
	
	.facebook{
	width: 64%;
	}
	
	.fbtext {
		width: 54%;
}

.right {
	margin-left: 1%;
}
}


@media screen and (max-width: 1085px)
{
	.footer3 p {
		font-size: 1em;
	}
}}

@media screen and (max-width: 1062px)
{
	.footer2 {
		height: 120px;
	}
	
	.fbtext {
	width: 52%;
}
	

}

@media screen and (max-width: 1024px) {
	.right {
		padding-right: 5%;
	}
	
	.facebook{
		width: 64.5%;
	}
	
	.fbtext {
		width: 53%;
	}
	
	.date {
		padding-top: 2%;
	}
	
} /*-- End 1024px media query */

@media screen and (max-width: 992px)
{
	

	.footer1 p{
		font-size: 1em;
	}
	
	.footer2 {
		height: 162px;
		line-height: 2;
	}	
	
	.footer3 {
		display: block !important;
		white-space:normal;
	}
	
	.footer3 p {
		font-size: 1.3em;
		display: block !important;
	}
	
	.footer3 a {
		display: block !important;
		padding-left: 5%;
	}
}

@media screen and (max-width: 950px)
{
	.fbtext {
		width: 50%;
	}
}

@media screen and (max-width: 851px)
{
	.footer2 {
		height: 175px;
	}
}

@media screen and (max-width: 800px)
{
		.right {
			padding-top: 6%;
		padding-right: 3%;
		width: 40%;
	}
	
	.facebook {
		width: 66%;
	}
	
	.fbtext {
		width: 50%;
	}
	
	.date {
		padding-top: 3.5%;
	}
	/*
	.footerhead h1, .footerhead p {
		width: 60%;
	}
	*/
	
}

@media screen and (max-width: 758px)
{
.fbtext {
	width: 48%;
}
	
	.footer1 p {
		font-size: .8em;
	}
	
	.footer2 {
		height: 155px;
	}
	
	.footer3 a{
		font-size: .8em;
	}
}

@media screen and (min-width: 620px)
{
	.fblike {
		display: none;
	}
}

@media screen and (max-width: 620px)
{
	.left,	.date {
		display: none;
	}
	
	.right {
		float: left;
		width: 95%;
		padding-left: 5px;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.navbar {
		margin-bottom: 0;
	}
	
	.nav li{
	display: block;
}

.nav li a {
	display: block;
	margin: 0 0 0 0;
	border-left: none;
}

.nav li a:hover, .nav li a:focus {
	background: #07b974;
	color: white;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
		color: white !important;
}

#nav-menu a {
	display: block;
	border-left: none;
	-moz-border-radius: 0px 0px 0px 0px; 
	-o-border-radius: 0px 0px 0px 0px; 
	-webkit-border-radius: 0px 0px 0px 0px; 
	border-radius: 0px 0px 0px 0px;
	margin: 0 0 0 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}

#nav-about a {
	display: block;
	border-left: none;
	-moz-border-radius: 0px 0px 0px 0px; 
	-o-border-radius: 0px 0px 0px 0px; 
	-webkit-border-radius: 0px 0px 0px 0px; 
	border-radius: 0px 0px 0px 0px;
	margin: 0 0 0 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	padding-bottom: 10px;
}
	
	.facebook {
		-moz-border-radius: 0px 0px 0px 0px; 
		-o-border-radius: 0px 0px 0px 0px; 
		-webkit-border-radius: 0px 0px 0px 0px; 
		border-radius: 0px 0px 0px 0px;
		
		width: 100%;
		padding-left: 0;
		margin-left: 0;
		padding-right: 0;
		margin-right: 0;
		margin-bottom: 35px;
		height: 120px;
	}
	
	.facebook img {
		display: none;
	}
	
	.fbtext {
		display: block;
		width: 90%;
		margin: 0 auto !important;
		-moz-border-radius: 0px 0px 0px 0px; 
		-o-border-radius: 0px 0px 0px 0px; 
		-webkit-border-radius: 0px 0px 0px 0px; 
		border-radius: 0px 0px 0px 0px;
		  position: relative;
	}
	
.menutitle h4 {
	font-size: .5em;
	width: 40%;
}

	
	.leftmenu {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	
		.rightmenu {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	
		.leftmenu2 {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	
		.rightmenu2 {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	
	.footer {
		border-top: 0;
	}
	
	.footer1 {
		float: left;
		border-bottom: .1em dotted white;
		display: inline !important;
		overflow: hidden;
		width: 90%;
		padding-left: 0;
		padding-right: 0;
		margin-left: 5%;
		text-align: left;
		padding-top: 2%;
		padding-bottom: 2%;
	}
	
	.footer1 h1, .footer1 p, .footer1 a {
		display: inline !important;
	}
	
	.footer1 p {
		text-align: left;
		font-size: 1em;
	}
	
	.footer2 {
		float: left;
		width: 90%;
		border-left: hidden;
		border-right: hidden;
		border-bottom: .1em dotted white;
		height: auto;
		padding-left: 0;
		padding-right: 0;
		margin-left: 5%;
		text-align: left;
	}
	
		.footer2 h1, .footer2 p, .footer2 a {
		display: inline !important;
	}
	
	.footer3 {
		float: left;
		width: 90%;
		padding-left: 5%;
		padding-right: 0;
		text-align: left;
		padding-top: 2%;
		padding-bottom: 2%;
	}
	
		.footer3 h1, .footer3 p, .footer3 a {
		padding-left: 0;
		display: inline !important;
	}
	
	.footer3 a {
		font-size: 1.3em;
	}		
}

@media screen and (max-width: 550px)
{
	.facebook {
		margin-bottom: 0 !important;
	}
	
	.footerhead {
	margin-top: 0;
}

@media screen and (max-width: 485px)
{
	.menutitle {
				height: 115px;
	background: url(../images/polka-bg.png) repeat-x 50%;
	margin-bottom: 0
}

.menutitle img {
	background: url(../images/bg.png) repeat;
	width: 200px;
	margin: 0 auto;
}

	.facebook {

		margin-bottom: 0 !important;
	}
	
			.footer2 {
		line-height: 1.5;
	}
}

@media screen and (max-width: 450px)
{
		.facebook img {
		display: none;
	}
	
		
	.fbtext {
		-moz-border-radius: 0px 0px 0px 0px; 
		-o-border-radius: 0px 0px 0px 0px; 
		-webkit-border-radius: 0px 0px 0px 0px; 
		border-radius: 0px 0px 0px 0px;
		/*
		margin-left: 15px;
		width: 92%;
		*/
	}
	
			.footer2 {
		line-height: 1.5;
	}	
}

@media screen and (max-width: 400px)
{	
	.facebook img {
		display: none;
}

	.fbtext {
		/*
		margin-left: 15px;
		width: 88%;
		*/
	}
	
	.footerhead {
		border-bottom: none;
	}
	
	.footerhead h1 {
		padding-top: 5px;
		padding-bottom: 5px;
	font-size: 1.5em;
}

.footer {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footerhead p {
	display: none;
}

	.footer {
		border-top: none;
		border-bottom: 1px solid white;
	}
	
		.footer2 {
		line-height: 1.5;
	}
	
	.footer3 a {
		font-size: 1.1em;
	}
}


@media screen and (max-width: 305px)
{
	
	.footer3 {
				white-space:normal;
	}
	
	.footer3 a {
		font-size: .8em;
		white-space:normal;
	}
}

/* 6 - FONTS ----------------------------------------------------------*/
@font-face{
  font-family: Kalinga;
  src:url(../fonts/kalinga.ttf);
}


